body {
	background: #b71540;
}

h1 {
	color: #fff;
	text-align: center;
	font-size: 36px;
}

.song {
	border: 2px solid #b8e994;
	border-radius: 10px;
	background: #f8c291;
	padding: 20px 200px;
	width: 300px;
	margin: 10px auto;
}

.song p {
	font-size: 20px;
	padding-bottom: 20px;
	line-height: 1.5;
	color: #0a3d62;
	font-style: italic;

}